<div class="inputBoxWidth margin-top border cursor">
   <form [formGroup]="loginForm" (ngSubmit)="save()">
      <h2 class="text-center">Admin Login</h2>
      <mat-form-field class="inputBoxWidth1">
         <mat-label>Email Address</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="inputBoxWidth1">
         <mat-label>Password</mat-label>
         <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-flat-button color="accent" class="inputBoxWidth1" type="submit">LOGIN</button>
   </form>
</div>